.wishlist {
  padding: 3rem;

  &__section {
    padding: 0vw 3vw;
    margin: 0 auto;
    min-width: fit-content;
    text-align: center;

    h2 {
      color: rgb(38, 63, 97);
      margin-bottom: 4rem;
    }

    &_item {
      display: flex;
      flex-direction: column;
      margin-top: 2vh;
      border: 2px solid rgba(230, 247, 255, 0.747);
      padding: 3rem 5rem;
      font-size: 110%;
      border-radius: 10px;
      box-shadow: 2px 2px 5px rgba(129, 164, 175, 0.397);
    }
  }

  .wishlist__item_container {
    margin: 1rem 2rem 0 2rem;

    padding: 1rem 2rem;
    background-image: linear-gradient(
      to bottom,
      rgba(225, 247, 246, 0.288),
      rgba(145, 176, 202, 0.699)
    );
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    transition: 0.25s;

    &:hover {
      transform: scale(1.02);
    }

    .course_details {
      margin-top: 1rem;
      display: flex;
      align-items: center;
      flex-basis: 60%;

      .thumbnail img {
        border-radius: 5px;
        margin-right: 1rem;
        width: 80px;
        height: 55px;
        box-shadow: 1px 1px 3px rgb(153, 153, 153);
      }

      .course_title {
        color: rgb(49, 49, 49);
        text-align: left;

        p {
          font-size: 80%;
          color: rgb(98, 112, 126);
        }
      }
    }

    .price {
      font-size: 120%;
      color: rgb(134, 2, 2);
      font-weight: 600;
      flex-basis: 8%;
      display: flex;
      align-items: center;
    }

    .action_buttons {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-basis: 32%;

      .remove_from_wishlist {
        font-size: 170%;
        padding-left: 1rem;
        color: rgb(158, 7, 7);
        cursor: pointer;
        transition: 0.25s;

        &:hover {
          color: rgb(148, 148, 148);
        }
      }
      .add_to_cart {
        font-size: 200%;
        &:hover {
          color: rgb(5, 163, 5);
        }
        &:focus {
          transform: translateY(50px);
        }
      }
    }
  }
}
