.tutorCard {
  width: 100%;
  height: 9rem;
  margin: 1rem 0;
  padding: 1rem 1.5rem 1rem 1rem;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background-color: var(--grey-light);
  transition: all 0.3s ease-in-out;

  &:first-child {
    margin: 0 0 1rem 0;
  }

  &:last-child {
    margin: 0;
  }

  &__firstDiv {
    display: flex;
    align-items: center;

    &-img {
      width: 7rem;
      height: 7rem;
      border-radius: 0.5rem;
      margin-right: 1.5rem;
      object-fit: cover;
    }

    &-text {
      & > div:first-child {
        font-weight: 600;
        font-size: 1.7rem;
      }

      & > div:last-child {
        font-weight: 300;
        font-size: 1.3rem;
      }
    }
  }

  &__secondDiv {
    display: flex;
    align-items: center;

    & > img {
      margin-right: 0.5rem;
    }
  }

  &:hover {
    color: var(--white);
    background-color: var(--grey-dark);
  }
}

.active {
  color: var(--white);
  background-color: var(--grey-dark);
}
