.welcome {
  //   width: 100%;
  margin: 1rem;
  padding: 1rem 0 1rem 1rem;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--grey-light);

  &__greet {
    display: flex;
    align-items: center;

    &--userpic {
      width: 4rem;
      height: 4rem;
      margin-right: 1rem;
      padding: 0.1rem;
      border-radius: 50%;
      border: 1px solid var(--white);
      object-fit: cover;
    }

    &--username {
      font-size: 2rem;
      font-weight: 700;
    }
  }

  &__icons {
    display: flex;
    align-items: center;

    &-cart {
      width: 3rem;
      height: 3rem;
      margin-right: 2rem;
    }

    &-heart {
      width: 2.8rem;
      height: 2.8rem;
      margin-right: 2rem;
    }

    &-count {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.2rem;
      position: absolute;
      top: -5px;
      right: 10px;
      background-color: white;
    }

    // &-count2 {
    //   width: 2rem;
    //   height: 2rem;
    //   font-weight: 600;
    //   border-radius: 50%;
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    //   font-size: 1.2rem;
    //   position: absolute;
    //   top: 4px;
    //   right: 25px;
    //   color: white;
    //   // background-color: white;
    // }

    &-icon {
      width: 3.5rem;
      height: 3.5rem;
      cursor: pointer;

      &:first-child {
        margin-right: 1rem;
      }
    }
  }
}

.position {
  position: relative;
}
