.home {
  width: 100%;
  height: 100%;
  padding: 1rem;
  overflow: hidden;
  overflow-y: scroll;

  ::-webkit-scrollbar {
    height: 6px;
    width: 6px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(255, 166, 0, 0.8);
    border-radius: 0.5rem;
  }

  &__brand {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__scroll {
    width: 100%;
    height: auto;
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
  }
}
